*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Courier, monospace;
    line-height: 2em;
}

nav{
    width: 100%;
    height: 10%;
    background: teal;
    color: #fff;   
}

nav #title{
    padding: 15px 10px;
    font-size: 2em;
    font-weight: bold;
}

main{
    width: 100%;
    font-size: 18px;
    font-family: 'monospace';
}

.tag{
    text-align: center;
}

img{
    align-content: center;
    border: 5px solid rgb(207, 206, 204);
    border-radius: 50%;
    margin: 20px 17%;
}

.container{
    margin: 60px 0;
    padding: 30px 0;
    width: 100%;
    text-align: center;
    background-color: rgba(238, 237, 235, 0.979);
    line-height: 2em;
}

.pTitle{
    text-transform: uppercase; 
    font-weight: bold;
    font-size: 18px;
}

form{
    margin: 10px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgb(192, 188, 188);
    border-radius: 2em;
}

button{
    border: 1px solid rgb(102, 97, 97);
    border-radius: 1em;
    padding: 2px 6px;
}